//FONTS

// @mixin fontH1 {
//   font-weight: 700;
//   font-size: calc(smallscreenPX + (largeScreen - smallscreen) * (100vw - mobileScreenSizePx) / (DesktopScreen - mobileScreenSize));
// }

@mixin fontTitle {
  font-weight: 600;
  font-size: calc(38px + (60 - 38) * (100vw - 375px) / (1440 - 375));
}

@mixin fontH1 {
  font-weight: 600;
  font-size: calc(30px + (40 - 30) * (100vw - 375px) / (1440 - 375));
}

@mixin fontH2 {
  font-weight: 600;
  font-size: calc(25px + (36 - 25) * (100vw - 375px) / (1440 - 375));
}

@mixin fontH3 {
  font-weight: 600;
  font-size: calc(23px + (28 - 23) * (100vw - 375px) / (1440 - 375));
}

@mixin fontH4 {
  font-weight: 600;
  font-size: calc(21px + (24 - 21) * (100vw - 375px) / (1440 - 375));
}

@mixin fontH5 {
  font-weight: 600;
  font-size: calc(19px + (20 - 19) * (100vw - 375px) / (1440 - 375));
}

@mixin fontH6 {
  font-weight: 600;
  font-size: calc(18px + (18 - 18) * (100vw - 375px) / (1440 - 375));
}

@mixin fontH7 {
  font-weight: 600;
  font-size: calc(16px + (16 - 16) * (100vw - 375px) / (1440 - 375));
}

@mixin fontB1 {
  font-weight: 400;
  font-size: calc(18px + (18 - 18) * (100vw - 375px) / (1440 - 375));
}

@mixin fontB-main {
  font-weight: 400;
  font-size: calc(16px + (16 - 16) * (100vw - 375px) / (1440 - 375));
}

@mixin fontB3 {
  font-weight: 400;
  font-size: calc(12px + (12 - 12) * (100vw - 375px) / (1440 - 375));
}

@mixin fontB2 {
  font-weight: 400;
  font-size: calc(14px + (14 - 14) * (100vw - 375px) / (1440 - 375));
}

@mixin fontLight {
  font-weight: 400;
  font-size: calc(9px + (9 - 9) * (100vw - 375px) / (1440 - 375));
}
