/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 1px solid var(--bg-j);
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}
html,
body {
  font-family: "Public Sans", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 1px solid var(--bg-j);
  text-decoration: none;
  box-sizing: border-box;
  transition:
    background-color 0.3s,
    color 0.3s;
  overflow-x: hidden;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow:
    0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
